{% extends "base.html" %}

{% block content %}
    <div class="jumbotron text-center" style="background-color: #f8f9fa; padding: 40px;">
        <h1>欢迎来到笔记系统</h1>
        <p class="lead">记录每分每秒</p>
        <hr class="my-4">
        <p>Whether you're studying for an exam, learning a new skill, or simply exploring new topics, Learning Log helps you organize your thoughts, track your progress, and stay motivated.</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'topics' %}" role="button">开始使用</a></p>
    </div>
{% endblock content %}
